.carousel-extra-round {
    border-radius:25px; 
    overflow: hidden;
}

.extra-round {
    border-radius: 25px;
}

.card{
    border-radius: 25px;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.customer-review {
    margin-bottom: 0px;
    color:rgb(54, 87, 208);
}

nav{
    margin: 5px;
}
